<mat-drawer-container
  *ngIf="(vm$ | async) as vm"
  hasBackdrop="false">

  <mat-drawer
    #drawer
    mode="side"
    opened>
    <mat-list>
      <mat-list-item
        *ngFor="let pin of vm.pins"
        (mouseover)="ExploreFacade.updateHoverState(pin, true)"
        (mouseout)="ExploreFacade.updateHoverState(pin, false)">
        {{ pin.title }}
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content
    appFluidHeight>
    <app-map
      [pins]="vm.pins"
      (pinMouseover)="ExploreFacade.updateHoverState($event, true)"
      (pinMouseout)="ExploreFacade.updateHoverState($event, false)">
    </app-map>

    <button
      mat-raised-button
      class="explore__toggle-list-btn"
      aria-label="Toggle list"
      (click)="drawer.toggle()">
      <mat-icon aria-hidden="false" aria-label="Toggle list">
        {{ drawer.opened ? 'chevron_left' : 'chevron_right' }}
      </mat-icon>
      {{ drawer.opened ? '' : 'Show list' }}
    </button>
  </mat-drawer-content>

</mat-drawer-container>
